/* Det första är allmänt för alla mobilsidor */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gridwrapper{
    display: grid;
    height: 1100px;
    width: 100vw;
    grid-template-areas: 
    "na he"
    "ma ma"
    "fo fo"
    ;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px auto 100px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: he;
    background: brown;
}

header h1{
    font-size: 33px;
}

nav{
    grid-area: na;
    background: blue;
}

main{
    grid-area: ma;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer{
    grid-area: fo;
    background: grey;
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    height: 100vh;
    width: 150px;
    left: -150px;
    top: 0px;
    align-items: center;
    transition: all 0.7s;
    background: blue;
}

.navigation li{
    list-style-type: none;
}

.navigation li a{
    color: rgb(240, 144, 70);
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
}

.navigation li a:hover{
    font-size: 20px;
}

.navactive{
    transform: translateX(150px);
}

.burger{
    cursor: pointer;
    position: relative;
    margin-top: 38px;
    margin-left: 30px;
    width: 50px;
}

.burger div{
    width: 30px;
    height: 4px;
    background-color: rgb(240, 144, 70);
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
    transition-delay: 0.2s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 5.5px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-7px,-5.5px);
}

.toggle{
    margin-left: 57px;
    transition: all 0.5s;
    transition-delay: 0.2s;
}

footer ul{
    display: grid;
    width: 100vw;
    height: 100px;
    grid-template-areas: 
    "l1 l2 l3"
    "l4 l5 l5"
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.l1{
    grid-area: l1;
}

.l2{
    grid-area: l2;
}

.l3{
    grid-area: l3;
}

.l4{
    grid-area: l4;
    margin-left: 110px;
}

.l5{
    grid-area: l5;
    margin-left: 140px;
}

footer ul li{
    list-style-type: none;
    margin-top: 15px;
    margin-left: 50px;
}

footer ul li a{
    text-decoration: none;
    color: black;
}

footer ul li a:hover{
    font-size: 110%;
    color: blue;
    font-weight: bold;
}

aside{
    visibility: hidden;
    position: absolute;
    grid-area: as;
}

/* Det som kommer här är specifikt för index.html */

.main_index{
    height: 630px;
    display: grid;
    grid-template-areas: 
    "oo"
    "kt"
    "ka"
    ;
    grid-template-columns: 100%;
    grid-template-rows: 250px 150px 230px;
}

.omoss-section{
    grid-area: oo;
    border: solid black;
    margin: 5px;
}

.omoss-section div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.omoss-section div article{
    height: 180px;
}

.omoss-section h2{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}

.vår_historia-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: dashed;
    border-radius: 10px;
    width: 30%;
    background: lightcyan;
}

.vår_historia-article h3{
    padding: 10px;
    font-size: 22px;
    margin-top: 0px;
}

.vår_historia-article p{
    padding: 5px;
    font-size: 14px;
    margin-top: -18px;
}

.styrelse-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: dashed;
    border-radius: 10px;
    width: 30%;
    background: lightcyan;
}

.styrelse-article h3{
    padding: 10px;
    font-size: 22px;
}

.styrelse-lista{
    margin: 10px;
    padding: 10px;
    margin-top: -18px;
}

.meriter-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: dashed;
    border-radius: 10px;
    width: 30%;
    background: lightcyan;
}

.meriter-article h3{
    padding: 10px;
    font-size: 22px;
}

.meriter-article ul{
    padding: 10px;
    margin-left: 10px;
    margin-top: -18px;
}

.meriter-article ul li{
    font-size: 14px;
}

.mer{
    list-style-type: none;
}

.kommandetävlingar-section{
    grid-area: kt;
    border: solid black;
    margin: 5px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kommandetävlingar-section h2{
    font-size: 30px;
}

.kommandetävlingar-section ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
}

.kommandetävlingar-section ul li{
    font-size: 25px;
    margin-left: 30px;
}

.kalender-section{
    grid-area: ka;
    border: solid black;
    margin: 5px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kalender-section div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.kalender-section h2{
    font-size: 30px;
}

.kalender-lista1{
    margin-left: 3vw;
}

.kalender-lista2{
    margin-right: 30vw;
}

/* Det som kommer här är specifikt för om_oss.html */



/* Det som kommer här är specifikt för kontakta_oss.html */



/* Det som kommer här är specifikt för nyheter.html */



/* Det som kommer här är specifikt för kalender.html */


@media screen and (min-width: 800px) {
/* Det som kommer här är allmänt för alla desktop sidor */
.gridwrapper{
    grid-template-areas: 
    "he"
    "na"
    "ma"
    "fo"
    ;
    grid-template-columns: 1206px;
    grid-template-rows: 100px 85px auto 100px;
}

header h1{
    font-size: 60px;
}

.burger{
    visibility: hidden;
}

.navigation{
    height: 85px;
    left: 0;
    width: 100%;
    position: static;
    flex-direction: row;
}

.navigation li a{
    font-size: 30px;
}

.navigation li a:hover{
    font-size: 35px;
}

footer ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.l4{
    margin-left: 0px;
}

.l5{
    margin-left: 0px;
}

footer ul li{
    margin-left: 0px;
    margin-top: 40px;
}

aside{
    visibility: visible;
    position: static;
}

/* Det som kommer här är specifikt för index.html på desktop */

.main_index{
    height: 600px;
    display: grid;
    grid-template-areas: 
    "oo kt as"
    "ka ka as"
    ;
    grid-template-columns: 40vw 40vw 1fr;
    grid-template-rows: 350px 250px;
}

}