*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gridwrapper{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    "na he"
    "ma ma"
    "fo fo"
    ;
    grid-template-columns: 100px, 1fr;
    grid-template-rows: 100px, 5fr, 100px;
}

header{
    grid-area: he;
    background: grey;
    height: 100px;
    width: 100%;
}

nav{
    grid-area: na;
    background: blue;
    width: 100px;
    height: 100px;
}

main{
    grid-area: ma;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer{
    grid-area: fo;
    background: grey;
}

.navlinks{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    height: 100vh;
    width: 20%;
    left: -15vw;
    top: 0px;
    align-items: center;
    transition: all 1s;
}

.navlinks li{
    list-style-type: none;
}

.burger{
    cursor: pointer;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    width: 50px;
}

.burger div{
    width: 30px;
    height: 4px;
    background-color: rgb(223, 144, 70);
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
}

.omoss-section div{
    display: flex;
    justify-content: space-evenly;
}

.omoss-section h2{
    display: flex;
    justify-content: space-evenly;
}